
#top {
    position: relative;
    color: white;
}

#bottom {
    position: relative;
}

#left {
    float: left;
    width: 150px;
}

#right {
    float: right;
    width: 150px;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.center_content {
    position: relative;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


